<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Welcome <%= user.firstName %> <%= user.lastName %></h1>
  <p>Email: <%= user.email || "No email available" %></p>
  <a href="/logout">Logout</a>
</body>
</html>